*.csv
*.npz
/llm_plm_hybrid/embeddings/classification_train.index
/llm_plm_hybrid/embeddings/combined_train.index
llm_plm_hybrid/evaluation/val_protein_qa.jsonl
llm_plm_hybrid/evaluation/test_protein_qa.jsonl
# llm_plm_hybrid/evaluation/test_protein_qa.jsonl
embeddings/*.index
embeddings/*.npy
.venv
*=*
*/__pycache__/*
*.pyc
*.cpython-*
venv